.product-page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "productImages productName productTotal"
    "productImages productDescription productTotal"
    "productImages productStars productTotal";
  grid-gap: 20px;
}

.product-images {
  grid-area: productImages;
  display: flex;
  flex-direction: column;
}

.product-images img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  grid-area: productName;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  grid-area: productDescription;
  margin-bottom: 10px;
}

.product-total {
  grid-area: productTotal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: 2px solid #6E6E6E; /* Gris tenue */
  border-radius: 5px;
  background-color: #FFFFFF; /* Blanco */
}

.product-stars {
  grid-area: productStars;
  display: flex;
  align-items: center;
}

.stars-rating {
  display: flex;
  align-items: center;
}

.stars-rating .stars {
  margin-right: 10px;
}

.stars-rating .rating-number {
  font-size: 1.2rem;
  margin-right: 5px;
}

.vendor-info {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.add-to-cart-button,
.buy-now-button {
  background-color: #BAFF39; /* Amarillo-verde */
  color: #6E6E6E; /* Gris tenue */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 100%;
}

.add-to-cart-button:hover,
.buy-now-button:hover {
  background-color: #6E6E6E; /* Gris tenue */
  color: #FFFFFF; /* Blanco */
}

.select-quantity {
  width: 100%;
  padding: 10px;
  border: 1px solid #6E6E6E; /* Gris tenue */
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #FFFFFF; /* Blanco */
  color: #6E6E6E; /* Gris tenue */
}
